<form [formGroup] = "myForm4" (ngSubmit) = "onSubmitOggetti()" class="jumbotron">
  Object <input type = "text" [formControl] = "myForm4.controls['object']">
  Description <input type = "text" [formControl] = "myForm4.controls['description']">
  Price <input type = "number" [formControl] = "myForm4.controls['price']">
  Link <input type = "url" [formControl] = "myForm4.controls['link']">
  <button class = "btn btn-primary">Add Object</button>
<div>
  <ul *ngFor = "let object of user ">
    {{object.nome}} {{object.cognome}} : {{object.object}} {{object.description}} {{object.price}} {{object.link}}
  </ul>
</div>

</form>
